<div class="jumbotron">
  <div class="container">
    <h1 class="about">About me...</h1>
    <div class="mainimage">
      <img src="" />
    </div>
    <div class="maininfo">Hello, my name is Richard Horton and I am from Houston Texas. I have designed and implemented various websites using HTML, CSS, JavaScript, MySQL, and PHP. I also have experience with Ruby on Rails, Python, and Java. I specialize in statistical analysis including the application of linear regression and neural networks to model and forecast data. </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 class="subtitle">CyberDecorator</h2>
      <p class="subtext">Image color search engine. Prior applications include interior design and fashion. Live demo at <a href="http://www.skippysearch.com">skippysearch.com</a>.</p>
    </div>
    <div class="col-md-4">
      <h2 class="subtitle">EZ Checks CRM</h2>
      <p class="subtext">Customer tracking and follow-up system. Modular design based on "To Do" dashboard and customer detail pages can be easily modified to accommodate a wide variety of applications.</p>
    </div>
    <div class="col-md-4">
      <h2 class="subtitle">WhipText</h2>
      <p class="subtext">Web based texting app. Text, email, and phone all in one. Web based design integrates with any mobile platform.</p>
    </div>
  </div>
</div>