<div class="jumbotron">
  <div class="container">
    <h1 class="about">About me...</h1>
    <div class="mainimage">
      <img src="https://www.dropbox.com/s/qhhabtqiox7a260/patrick.png?raw=1" alt="Patrick" />
    </div>
    <div class="maininfo">My name is Patrick Biegel and I was born in Winterthur, Switzerland. I have more than 15 years of professional experience in the IT business and I have acquired a lot of professional skills during this time. I’m also a certified webmaster and IT technician. I have founded a small company in Bolivia called PB-Soft to market different software applications and offer services. The company is specialized in software development, mainly scripts, websites and different applications (web applications and small windows applications) and also offers installation- and user-support for their products. </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 class="subtitle">Web Applications / -sites</h2>
      <p class="subtext">Planning, design, creation, installation, configuration and maintenance of websites and web applications using the following technologies: Apache, CSS, HTML, JavaScript, Joomla!, MySQL, Perl, PHP, SQLite, XAMPP, XHTML.</p>
    </div>
    <div class="col-md-4">
      <h2 class="subtitle">Windows Applications</h2>
      <p class="subtext">Development and Support of Windows applications using a combination of the following technologies: AutoHotkey, REAL Studio, SQLite.</p>
    </div>
    <div class="col-md-4">
      <h2 class="subtitle">Macros / Scripts</h2>
      <p class="subtext">Development and Support of Macros and Scripts using a combination of the following technologies: AutoHotkey, Batch, VBA.</p>
    </div>
  </div>
</div>