<div class="container contact1">
  <div class="contact2">
    <p>
      <strong>
        Richard Horton<br />
        10908 West Bellfort<br />
        Houston, TX 77099<br />
        </strong>
    </p>
    <p>
      <strong><span>(281) 561-5166</span><br />
        <span>rbh(at)ez-checks.com</span><br />
        </strong>
    </p>
  </div>
</div>