<div class="container contact1">
  <div class="contact2">
    <p>
      <strong>
        PB-Soft<br />
        Patrick Biegel<br />
        Urbanizacion "El Trapiche"<br />
        Santa Cruz<br />
        Bolivien
      </strong>
    </p>
    <p>
      <strong>Mobile: <span>+591 746 10 138</span><br />
        E-Mail: <span>biegel(at)gmx.ch</span><br />
        E-Mail: <span>info(at)pb-soft.com</span><br />
        Website: <a href="http://pb-soft.com" onclick="window.open(this.href, 'PB-Soft').focus(); return false;">pb-soft.com</a><br />
        Website: <a href="https://pb-bookmarks.com" onclick="window.open(this.href, 'PB-Bookmarks').focus(); return false;">pb-bookmarks.com</a><br />
        VoipDiscount: <span>PB-Helpdesk</span><br />
        Linkedin: <a href="http://www.linkedin.com/pub/patrick-biegel/96/28/377/" onclick="window.open(this.href, 'Linkedin - Patrick Biegel').focus(); return false;">Benutzerprofil</a>
      </strong>
    </p>
  </div>
</div>